{% load static %}
{% include 'sideNav.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo_App</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/Todo.css' %}">
  </head>
  <body class="bg-body-secondary pt-2 pb-2">
    <div class="box container rounded p-3 mx-auto">
      <!-- Quick ToDo List Title -->
      <div class="row">
        <div
          class="title col-md-7 bg-white rounded d-flex justify-content-evenly p-3 shadow mx-auto mb-4"
        >
          <h1 class="text-primary">Quick ToDo List</h1>
          <a href="{% url 'create' %}">
            <button class="btn btn-primary btn-lg">
              <i class="bi bi-plus-circle-fill"></i> Add New
            </button>
          </a>
        </div>
      </div>
      <!-- Quick ToDo List Title End -->
      
      <!-- Quick ToDo List Item -->
      <div class="row">
        <div
          class="listBar col-md-8 mx-auto rounded bg-white shadow p-2 d-flex justify-content-evenly align-items-center text-center mb-4"
        >
            <button class="btn btn-transparent btn-outline-light col-md-3 m-0 btn-lg ">
              <a href="{% url 'home' %}" class="text-primary"><i class="bi bi-house-add-fill"></i> All Task</a>
            </button>
          |
            <button class="btn btn-transparent btn-outline-light col-md-3 m-0 btn-lg">
              <a href="{% url 'complete' %}">Complete</a></button>
          |
            <button class="btn btn-transparent btn-outline-light col-md-3 m-0 btn-lg">
              <a href="{% url 'pending' %}">ToDo</a></button>
        </div>
      </div>
      <!-- Quick ToDo List Item -->
      
     
      <!-- Quick ToDo List Body -->
      <div class="row">
        <div class="ToDoBody col-md-11 mx-auto rounded">
          <!-- Quick ToDo List Cart   -->
          <div class="row d-flex justify-content-evenly">
            <!-- / -->
            {% for tasks in Tasks %}
            {% if tasks.complete %}
            <div class="ToDoBox m-2 col-md-5 bg-white shadow rounded p-2">
              <div class="row">
                <div class="todo-title col-md-12 fw-bold text-start pt-2 text-decoration-line-through"><a href="{% url 'delete' tasks.id %}">{{tasks.title}}</a></div>
              </div>
              <hr class="mt-0"/>
              <div class="row">
                <div class="todo-desc col-md-12">
                  <p class="todo-pdesc">{{tasks.describtion}}</p>
                  </div>
              </div>
              <hr class="mb-0" />
              <div class="row mt-1">
                <div class="col-md-6 text-nowrap"><i class="bi bi-calendar3"></i>{{tasks.date}} {{tasks.time}} </div>
                <div class="todo-icons col-md-6 d-flex justify-content-end gap-3 ps-1">
                  <abbr title="Complete"><a href="{% url 'task_complete' tasks.id %}"><i class="bi bi-check-circle-fill ms-1 text-success"></i></a></abbr>
                  <abbr title="delete"><a href="{% url 'task_delete' tasks.id %}" class=""><i class="bi bi-trash-fill text-danger"></i></a></abbr>
                </div>
              </div>
            </div>
            {% else %}
            <div class="ToDoBox m-2 col-md-5 bg-white shadow rounded p-2">
              <div class="row">
                <div class="todo-title col-md-12 fw-bold text-start pt-2"><a href="{% url 'delete' tasks.id %}">{{tasks.title}}</a></div>
              </div>
              <hr class="mt-0"/>
              <div class="row">
                <div class="todo-desc col-md-12">
                  <p class="todo-pdesc">{{tasks.describtion}}</p>
                  </div>
              </div>
              <hr class="mb-0" />
              <div class="row mt-1">
                <div class="col-md-6 text-nowrap"><i class="bi bi-calendar3"></i>{{tasks.date}} {{tasks.time}} </div>
                <div class="todo-icons col-md-6 d-flex justify-content-end gap-3 ps-1">
                  <abbr title="Incomplete"><a href="{% url 'task_complete' tasks.id %}"><i class="bi bi-x-circle-fill text-primary"></i></a></abbr>
                  <abbr title="delete"><a href="{% url 'task_delete' tasks.id %}" class=""><i class="bi bi-trash-fill text-danger"></i></a></abbr>
                </div>
              </div>
            </div>

            {% endif %}
            {% endfor %}
            <!-- Quick ToDo List Cart End   -->
        
            

          </div>
        </div>
        <!-- / -->
      </div>

      <!-- Quick ToDo List Body -->
    </div>
    <script src="./assets/js/bootstrap.min.js"></script>
  </body>
</html>
